
.chihan .input_container {
  display: flex;
  flex-direction: column;
  width: 20em;

  //
  //                              SUBMIT BUTTON

  // .submit {
  // 	text-align: right;
  // 	width: 100%;
  // 	.inline_title { text-align: center; }
  // }


  .input_drawing, .input_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .drawingboard_buttons, .textinput_buttons {
    width: 100%;
    display: flex;
    margin-top: 0.2em;
    .uify-button {
      flex: 1;
      background-color: @primaryContrast;
      color: @primary;
  		.back.hover();
      &:not(:last-of-type) { margin-right: 0.2em; }
      .inline_title { text-align: center; }
    }
  }

  .input_drawing {
    margin-right: 5px;
    justify-content: center;
    .drawingboard {
      background-color: black;
    }
    .recognized_characters {
      font-size: 2.5em;
      height: 3em;
      div span {
        cursor: pointer;
        .back.hover();
      }
    }
  }

  .input_text {
    justify-content: end;
    flex: 1;
    display: flex;
    .textinput {
      flex: 1;
      font-size: 2em;
      max-width: 100%;
      min-width: 100%;
      background-color: @baseContrast;
      color: @base;
      border: none;
      height: 7.5em;
    }
  }

  //                              ¬
  //

}
