
.chihan .output_container {
  display: flex;
  max-height: 100%;
  overflow-y: auto;
  margin-left: 1em;
  flex: 1;

  //
  //                              TEXT

  .output_text {
    flex: 1;
    .pinyin {
      margin-top: .5em;
    }
    .highlight {
      background-color: @primaryContrast;
      color: @primary;
    }
  }

  //
  //                              DEFINITION

  .output_definition {
    width: 17em;
    margin-left: 1em;

    // TITLE
    .definition_title {
      font-weight: bold;
      font-size: 4em;
    }

    // COMPONENTS
    .definition_components {
      cursor: pointer;
      margin: 1em 0;
      &:before { content: "▶"; }
      &.mode_open:before { content: "▼"; }
      div { display: none; }
      &.mode_open div { display: block; }
    }

    // DEFINITION
    .definition_def {
      .definition_deftitle {
        font-weight: bold;
        font-size: 1.5em;
      }
      .definition_defcontent {

      }
    }

  }

  //                              ¬
  //

}
